<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>

            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]='item.img' [alt]='item.name'></td>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.price}}</td>
            <td>{{item.stock}}</td>

        </tr>
        <tr>
            <td>Billetera grande</td>
            <td>Billeteras</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>De cuero</td>
            <td>Cintos</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Bandoleras</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
